html,
body {
    height: 100%;
}

.about-img{
  width:100%;
}
.about-text-section{
  padding-bottom: 20px;
}
.about-title, .ourWork-title{
  font-size:50px;
}
.about-paragraph, .ourWork-paragraph{
  font-size: 18px;
  text-align: justify;
}
.about-paragraph, .ourWork-paragraph{
  margin-top: 10px;
}
#literacy{
  padding-top: 50px;
  padding-bottom: 50px;
}

.literacy-paragraph
{
  font-size: 18px;
  text-align: center;
}

.literacy-title
{
  text-align: center;
  font-size: 50px;
}


.wrapper-about
{
  height: 100vh;
}

.wrapper-ourWork 
{
  height: 100vh;
}

.ourWork-wrapper
{
 position: relative;
 top: 50%;
  transform: translateY(-50%);

}

.about-wrapper 
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ourWork-img-section
{
  top: 50px;
}