html,
body {
    height: 100%;
}

.navbar-form{
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-form-user{
  margin-top: 0px;
  margin-bottom: 0px;
}
#navigation .navbar{
  background-color: rgba(0,0,0,0.8);
}
.navbar-fixed-top {
    border:none;
}
.navbar-brand {
  height: initial;
}
.navbar-toggle{
  background-color: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-inverse .navbar-toggle {
    border-color: white;
}
.icon-bar{
  background-color: #c8c8c8;
}

#login-username, #login-password{
  background-color: transparent;
  color: #c8c8c8;
  border-color: #c8c8c8;
}
#login-username:focus, #login-password:focus,#login-username:hover, #login-password:hover{
  color: white;
  border-color: white;
  box-shadow: none;
}
#login-btn{
  color: white;
  border-color: white;
  background-color: transparent;
}
#login-btn:hover{
  color: #d2d9d2;
  border-color: #d2d9d2;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

/* Start Video Section Style */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background: black;
}


.aboutUs{
  background: rgba(0,0,0,0.5);
  color: white;
  max-width: 992px;
  width: 100%;
  max-height: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  overflow: scroll;
  padding: 30px;
  text-align: justify;
  font-size: 18px;
}
.about-head{
  margin-top: 0;
}
.aboutUs, .help-head, .help-title, .event-head, .gallery-link{
  font-family: 'Oswald', sans-serif;
}
/*
@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

}
 End Video Section Style */
.go-down{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

#go-down-link{
  color: white;
}
#go-down-link:focus, #go-down-link:hover {
    color: white;
}

#help-section{
  padding-top: 70px;
  padding-bottom: 50px;
  margin-top: 100vh;
  background: white;
}
.helps{
  margin: 70px 0;
}
.help-img{
  width: 100%;
  max-width: 256px;
  margin: auto;
}

.first-col, .second-col, .third-col {
  margin-bottom: 50px;
}

#event-news-section{
  background: rgb(245,245,245);
  padding-top: 70px;
  padding-bottom: 50px;
}

.event-head{
  margin-bottom: 50px;
}

.fa-angle-left, .fa-angle-right {
  position: absolute;
  top: 45%;
}

.news-link{
  margin-bottom: 50px;
}

#footer{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
}
.footer-logo{
  width: 100%;
}
#copyright{
  color:rgb(200,200,200);
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .helps > div{
  }
}
@media (max-width: 991px){
  .fourth-col{
    margin-bottom: 50px;
  }
}

@media (max-width: 767px){
  .aboutUs {
      max-height: 75%;
      padding: 20px;
      font-size: 16px;
  }
}
.aboutUs::-webkit-scrollbar {
    display: none;
}
